body {
background-color: #eee;
box-sizing: border-box;
}

h2 {
text-align: center;
margin-top: 20px;
line-height: 40px;
}
.card {

 width: 32%;
 height: 350px;
 background-color: white;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 text-align: center;
 padding: 20px 0 50px 0;
 border-style: solid;
 border-width: 10px;
 border-color: rgb(67 146 254) transparent transparent transparent;
}
.card h3 {

    color: #707070;
    font-size: 25px;
    font-weight: lighter;
    font-style: italic;
    margin-top: 10px;
}
.card h2 {
margin-top: 0;
margin-bottom: 100px;
line-height: 1PX;
font-size: 40px;

}
.card form {
    position: relative;
    width: 80%;
    margin: auto ;
    display: flex; 
    flex-direction: column;
}

.card form input {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px
}

/* to remove the up and down arrows from the input field */
.card form input:first-child::-webkit-inner-spin-button ,
.card form input:first-child::-webkit-outer-spin-button {
    
    appearance: none;
    
}

.card form input:last-child {
    
    background-color: rgb(67 146 254);
    border: 0;
    color: white;
    cursor: pointer;
}
